<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.sherp.missionarogya.thesherpapp" >
    <application
        android:allowBackup="true"
        android:icon="@drawable/interview"
        android:label="The SHERP app"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="The SHERP app"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsentFormActivity"
            android:label="@string/title_activity_consent_form"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InterviewQuestionnaire"
            android:label="@string/title_activity_interview_questionnaire"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ShowIntervieweeID"
            android:label="@string/title_activity_show_interviewee_id"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LogoutActivity"
            android:label="@string/title_activity_logout"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QASetSelectionActivity"
            android:label="QASet Selection"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
</manifest>
